/* Base Styles and Custom Reset */

/***********************
    Reset
***********************/

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: $font-copy; color: $color-copy; }
body { margin: 0; background:none; color:$color-copy; font-size: 1em; line-height: 1.5; }

::-moz-selection { background: $color-brand; color: #fff; text-shadow: none; }
::selection { background: $color-brand; color: #fff; text-shadow: none; }

/***********************
	Mixins
***********************/

@mixin pattern-bg($color, $darken-percent, $hightlight) {
    $color-dark:darken($color, $darken-percent);
    @include background(
        radial-gradient($color-dark 16%, transparent 18%) 0 0,
        radial-gradient($color-dark 16%, transparent 18%) 8px 8px,
        radial-gradient(rgba(255,255,255,$hightlight) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,$hightlight) 15%, transparent 20%) 8px 9px
        );
    background-color:$color;
    background-size:16px 16px;
}

/*********************
	Links
*********************/

a {
	color:$color-link;
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	color:$color-hover;
}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/********************
	Typography
********************/

body {
	font-family:$font-copy;
	font-size:16px;
	p {
		font-family:$font-copy;
	}
}

// headings
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand_Bold-webfont.eot');
    src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Bold-webfont.svg#NewBaskervilleRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
// brand
@font-face {
    font-family: 'QuicksandLight';
    src: url('../fonts/Quicksand_Light-webfont.eot');
    src: url('../fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('../fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('../fonts/Quicksand_Light-webfont.svg#NewBaskervilleRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
// copy
@font-face {
    font-family: 'Nobile';
    src: url('../fonts/nobile-webfont.eot');
    src: url('../fonts/nobile-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nobile-webfont.woff') format('woff'),
         url('../fonts/nobile-webfont.ttf') format('truetype'),
         url('../fonts/nobile-webfont.svg#NewBaskervilleRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
// icons
@font-face {
    font-family: 'IcoMoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.svg#NewBaskervilleRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6
.un, .deux, .trois, .quatre, .cinq, .six {
	margin: 0 0 1em 0;
	font-family:$font-brand;
	line-height:1.5em;
	font-size:100%;
    font-weight:normal;
}

h1, .un { font-size:3em; /* 36px / 12px */ }
h2, .deux { font-size:2em; /* 24px / 12px */ }
h3, .trois { font-size:1.5em; /* 18px / 12px */ }
h4, .quatre { font-size:1.1667em; /* 14px / 12px */ }
h5, .cinq { font-size:1em; /* 12px / 12px */ }
h6, .six { font-size:1em; /* 12px / 12px */ }


h1,h2,h3,h4,h5,h6 {
	color:$color-heading;
	a {
		color:$color-heading;
		&:hover {
			color:$color-brand;
		}
	}
}

p {
	line-height:1.5em;
	margin:0 0 1em;
}
blockquote { margin:1.5em 0 1.5em 1.5em; }

b, strong { font-weight:bold; }
i, em { font-style:italic; }

pre, code, kbd, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 1em;
}
p code { padding:0.25em; }
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
code {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    color:#000;
    background:#eee;
    pre & { background:none; }
}

/*************************
	Lists
*************************/

ul, ol { margin: 0 0 1.5em 1.5em; padding:0; list-style-position:outside; list-style-image:none; }
ul { list-style-type:$ul; }
ol { list-style-type:$ol; }
li { line-height:1.5em; font-size:inherit; padding:0; }
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/************************
	Tables
************************/

table {
	border-collapse:collapse;
	border-spacing:0;
}

/************************
	Images
************************/

img, a img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    max-width:100%;
}

figure { margin:0; }
figcaption {
    margin:1em 0;
    font-style:italic;
}

/**************************
	Forms
**************************/

form { margin:0; }
label { cursor: pointer; }
input, select, textarea { margin:0 0 1em; }
input, select, textarea{ font:inherit; }
button, input, select, textarea {
	font:inherit!important; // overwrite gravity forms stylesheet without a specificity war
    vertical-align: baseline;
    *vertical-align: middle;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    *overflow: visible;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize:vertical; // only allow verticle resizing so fluid layout doesn't break
}
.ginput_container { padding:0; }
.gfield_error {
	input, select, textarea { margin:0; } // reduce separation on forms with validation errors
}


/*********************
	Layout
*********************/

body {
    width:100%;
    margin:0px auto;
    background:$color-lightest;
    @include background(linear-gradient($color-lightest 0%, $color-lightest 50%, #fff 100%));
}

.page-wrap {
    position:relative;
    width:100%;
    max-width:1200px;
    min-height:100%;
    margin:0 auto;
    padding-bottom:100px;

    overflow:hidden;
    z-index:1;
}
