.blog-post {
	margin-bottom:2.5em;

	@media screen and (min-width:700px) { 
		left:-2em; 
		.code { margin-left:24%; }
	}

	&:last-of-type { 
		margin-bottom:0.5em; 
	}

	img {
		margin:1.5em 0;

		border-top:1px solid #ccc;
		border-bottom:1px solid #333;
		@include border-radius(10px);
		@include box-shadow($shadow-sm);

	}
	figure img { margin-bottom:0.5em; }
	figcaption { 
		margin:0 0 1.5em; 

		font-size:0.875em; // 14px / 16px
		font-family:$font-brand;
		text-align:center;
	}
}

.post-title {
	position:relative;
	width:100%;
	padding:0 0 0.5em;

	color:#333;
	border-bottom:1px solid #ccc;

	@include box-sizing('border-box');
	z-index:100;
}

.post-meta {
	display:block;
	margin:-1em 0 3em;
	font-style:italic;

	.author { font-style:normal; }
}

.tldr {
	margin:-1.5em 0 3em;
	padding:1.5em;

	font-size:0.75em; // 12px
	border:1px solid #ccc;

	.img { 
		font-size:1.25em;
		font-family: Consolas, Monaco, 'Andale Mono', monospace;
	}
}

.post-quote {
	p {
		color:$color-pink;

		&:before, &:after {
			content:"\2026"; // &hellip;
		}
	}
	&:before {
		content: "\f004"; // twitter
		font-family:IcoMoon;
		top:-0.35em;
		left:-1em;
		font-size:3em;
	}
}

.site-search {
	position:relative;
	width:100%;
	margin:3em 0 1.5em;
	.search-form {
		display:block;
		width:100%;
	}
	input[type=search] {
		width:90%;
		padding:0.5em 0.25em 0.5em 0.5em;
	}
	input[type=submit] {
		position:absolute;
		right:-1em;
		top:-1em;

		&:focus { outline:none; }
	}
}
.search-form { 
	display:none;
	float:left;
	margin:-0.5em 0; 
}