.site-footer {
	width:100%;
	height: 100px;
	padding:1.5em 0;

	color:#333;
	font-size:10px;
	text-align:center;

	border-top:1px solid $color-border;
	background:darken($color-lightest,10%);

	p {
		@media screen and (min-width:960px) {
			text-align:left;
			margin-left:12%;
		}
	}
}
.footer-links {
	display:block;
	margin:0 auto 3em;

	@media screen and (min-width:960px) {
		width:auto;
		margin:0 0 3em 12%;
	}

	li {
		float:none;
		display:block;
		text-align:center;

		@media screen and (min-width:960px) {
			float:left;
			clear:none;

			display:inline-block;
			margin-right:1em;
			text-align:left;
		}

	 }

	 [class^=icon] {
	 	color:#666;
	 	font-size:1.25em;
	 }
}
.to-top {
	display:block;
	padding:10px;
	margin:-4em 4em 0 0;
}
