header {
	position:relative;
	width:100%;
	text-align:center;
	background:$color-lightest;
	@include box-shadow($shadow-lg);
	z-index:8000;
	.main-title {
		position:relative;
		
		padding:0.5em 0;

		color:#333;
		line-height:1em;
		
		@include box-shadow($shadow-sm);
		@include text-shadow(0 1px #fff);
		@include pattern-bg($color-yellow, 5%, 0.6);
		a { 
			display:block;
		}
		a:hover {
			color:#000;
		}
	}
	.sub-title {
		display:block;
		padding:1em 0;

		color:$color-pink;
		font-family:$font-brand-light;
		font-size:1em;
		line-height:1em;
		@include text-shadow(0 1px #fff);
	}

	@media screen and ( min-width:960px ) {
		h1,
		.sub-title { text-align:left; padding-left:12%; }
	}

}

$blogWidth:40%;
$aboutWidth:28%;
$socialWidth:35%;
$workWidth:30%;
$topicBackground:#666;

@mixin topic($size, $brightness:0%) {
	width:$size;
	height:0;
	padding:($size/2) 0;
	
	font-size:4*$size;
	line-height:$size;
	@include text-shadow(0px 1px #fff);
	
	border:1px solid lighten($topicBackground, $brightness*0.5) ;
	@include border-radius(100%);
	
	&:hover {
		width:$size*1.05;
		height:0;
		padding:(($size*1.05)/2) 0;
		
		font-size:4*($size*1.05);
		line-height:$size*1.05;
		
		background:#fff;
		border:1px solid lighten($topicBackground, $brightness*0.5) ;

		@include border-radius(100%);
		@include box-shadow(0 5px 50px rgba(0,0,0,0.5));
	}
}

.topics {
	position:relative;
	min-height:200px;
	margin-bottom:20%;

	font-family:$font-brand-light;
	@include text-shadow(0 1px #fff);
	.topic {
		position:absolute;
		height:0;

		color:#000; 
		text-align:center;
		
		@include text-shadow(0 1px 1px #ccc);
		@include box-shadow($shadow-lg);
		@include transition(all ease-in-out .2s);
		
		&:hover { color:#000; }
	}
	.blog {
		top:35%;
		left:22%;
		@include topic($blogWidth, 35%);
		z-index:30;
	}
	.about {
		top:0%;
		left:45%;
		@include topic($aboutWidth, 40%);
		z-index:40;
	}
	.social {
		top:25%;
		left:100%-$socialWidth;
		@include topic($socialWidth, 5%);
		z-index:20;
	}
	.work {
		top:10%;
		left:0%;
		@include topic($workWidth, 10%);
		z-index:10;
	}

	@media screen and ( min-width:620px ) {

		margin-bottom:0;
		font-size:2em;

		.blog { 
			top:9%;
			left:14%;
 			@include topic($blogWidth/2, 35%);
		}	
		.about {	
			top:4%;
			left:30%;		
 			@include topic($aboutWidth/2, 40%);
		}
		.social {
			left:40%;
 			@include topic($socialWidth/2.5, 5%);
		}
		.work {
			left:2%;
 			@include topic($workWidth/2, 10%);
		}

	}

	@media screen and ( min-width:700px ) {

		margin-bottom:1em;
	}

	@media screen and (min-width:960px) {

		margin:-1em 0 0;
		font-size:3em;
		
		.topic { left:80%; }
		.blog { 
			top:0;
			@include topic(10%, 10%);
			z-index:40;
		}	
		.about {	
			top:55%;
			@include topic(10%, 35%);
			z-index:30;
		}
		.social {
			top:165%;
			@include topic(10%, 40%);
		}
		.work {
			top:110%;
			@include topic(10%, 5%);
			z-index:20;
		}
	}
}


.banner {
	position:absolute;
	top:-280px;
	right:25%;
	
	width:100px;
	padding:20px 20px 80px;
	
	font-size:14px;

	background:#fff;
	@include box-shadow($shadow-sm);
	@include transition(ease 0.5s);
	
	// masking box
	&:before {
		content:"";
		position:absolute;
		left:0;
		bottom:-105px;
		
		width:144px;
		height:100px;
		
		background:$color-lightest;
		@include box-shadow(0px -10px 30px $color-lightest);

		z-index:10;
	}
	// banner tails
	&:after {
		content:"";
		position:absolute;
		bottom:-52px;
		left:50%-50px;

		width:100px;
		height:100px;
		
		background:$color-lightest;
		@include rotate(45deg);
		@include box-shadow(inset $shadow-sm);
		
		z-index:0;
	}
	.nosey { 
		position:absolute; 
		bottom:-160px;

		text-align:center;

		opacity:0;
		
		@include rotate(-10deg);
		@include transition(1s ease);

		z-index:20;
		
		.arrow { 
			position:relative;
			left:25px;

			display:block;
			width:50px;
			height:50px;
			margin:-25px 0 0 40px;

			border-radius:30px;
  			border-left:1px solid $color-copy;	
  			@include rotate(-50deg);
			&:after {
			  content:"";
			  display:block;
			  
			  position:absolute;
			  bottom:-6px;
			  left:15px;
			  width:0px;
			  height:0px;
			  border-right:7px solid $color-copy;
			  border-left:7px solid transparent;
			  border-top:7px solid transparent;
			  @include rotate(-45deg);
			}
			&:before {
			  content:"";
			  display:block;
			  position:absolute;
			  left:-2px;
			  top:0px;
			  width:15px;
			  height:15px;
			  background:$color-lightest;
			  border:none;
			}
		}
	}
	// only show the banner at full width
	@media screen and (min-width:960px) {

		top:0px; 
		.nosey { opacity:1; }
	}
}