/**************************
	$$ Work
**************************/

.gallery {
	padding:1.5em 0;
	article {
		float:left;
		width:200px;
		margin:0.5em;

		@media screen and (min-width:400px) {
			width:40%;
			margin:2.5% 5%;
		}
		@media screen and (min-width:700px) {
			width:44%;
			margin:2% 1%;
		}
	}
	a {
		display:block;
		font-size:0.75em; // 12px / 16px
		text-align:center;
	}
}
.screenshot {
	margin-bottom:0.5em;
	border:5px solid #fff;
	@include box-shadow($shadow-sm);

	&:hover {
		@include scale(1.05);
		@include box-shadow($shadow-lg);
	}
}

//*************************
//  	$$ Work Portfolio
//**************************

.work-section {
	margin:1em 0 2em 12%;
	padding-right:12%;
	border-bottom:1px solid #ccc;

	&:last-of-type { border-bottom:0; }
}
.work-container {
	position:relative;
	margin:1em 0 2em;

	@media screen and (min-width:500px) {
		a:first-child [class^="work-"] {
			margin-left:0;
		}
	}
}
.work-title {
	margin-bottom:0;
}

// Take advantage of automatically fluid images and add
// a background image, constraining the size with
// background-size to display each piece of work

//background-size: (viewportWidth/imageWidth)*100% (viewportHeight/imageHeight)*100%

.work-desktop {
	display:block;
	width:250px;
	margin:0 auto;

	background-position:50% 14%;
	background-repeat:no-repeat;
	background-size:(456/498)*100% (257/399)*100%;

	vertical-align:baseline;

	@media screen and (min-width:500px) {
		display:inline-block;
	}
	@media screen and (min-width:800px) {
		width:375px;
	}
	@media screen and (min-width:1200px) {
		width:498px;
	}
}
.work-tablet {
	display:block;
	width:137px;
	margin:0 auto;

	background-position:50% 57%;
	background-repeat:no-repeat;
	background-size:(213/274)*100% (272/347)*100%;

	vertical-align:baseline;

	@media screen and (min-width:500px) {
		display:inline-block;
		margin-left:-100px;
	}
	@media screen and (min-width:800px) {
		width:200px;
		margin-left:-60px;
	}
	@media screen and (min-width:1200px) {
		width:274px;
		margin-left:-40px;
	}
}
.work-mobile {
	display:block;
	width:83px;
	margin:0 auto;

	background-position:50% 52%;
	background-repeat:no-repeat;
	background-size:(138/166)*100% (215/322)*100%;

	vertical-align:baseline;

	@media screen and (min-width:500px) {
		display:inline-block;
		margin-left:-40px;
	}
	@media screen and (min-width:800px) {
		width:120px;
	}
	@media screen and (min-width:1200px) {
		width:166px;
	}
}
.work-content {
	@media screen and (min-width:800px) {
		width:50%;
	}
}



